@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
  background-color: rgb(62, 60, 60);
}
table {
  border-collapse: collapse;
  width: 100%;
  cursor: pointer;
}

th, td {
  border: 2px solid gray;
  text-align: left;
  padding: 8px;
  background-color: rgb(33, 31, 31); 
  color: white; 
  font-size: larger;
  font-family: "Open Sans", sans-serif;
  
}

th {
  background-color: #292424;
    border-radius: 15px;

}

tbody tr:nth-child(even) {
  background-color: #292424;
}

td img {
  vertical-align: middle;
  margin-right: 20px;
}
h1{
  text-align: center;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

caption{
  color: white;
  text-align: center;
  font-size: larger;
  margin-bottom: 30px;
}